<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neostore2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivityBase"></activity>
        <activity android:name=".ActivityForgotPassword" />
        <activity android:name=".ActivityChangePassword" />
        <activity android:name=".ActivityEditProfile" />
        <activity android:name=".ActivityOrderDetails" />
        <activity android:name=".ActivityOrderList" />
        <activity
            android:name=".ActivityAddAddress"
            android:parentActivityName=".ActivityAddress" />
        <activity
            android:name=".ActivityAddress"
            android:launchMode="singleTop" />
        <activity android:name=".ActivityCart" />
        <activity android:name=".ActivityDetails" />
        <activity android:name=".ActivityProductTable" />
        <activity
            android:name=".ActivityHomepage"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityRegistration" />
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>